@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  padding-top: 15%;
  padding: center;
  background-image: url("./mountains.jpg");
  background-size: 1366px;
}

pre {
  font-family: 'Quicksand', sans-serif;
}

.border-button {
  box-shadow: 0px 0px 0px 5px #282828;
  background-color: #339933;
  transition: box-shadow 0.6s linear;
  height: 128px;
  width: 256px;
  margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
}

.border-button:hover { box-shadow: 0px 0px 0px 10px slategray; }
